---
import IconExternal from "./icons/icon-external.astro";
---

<section class="section-main-fetured-projects">
  <h2 class="section-main-fetured-projects__heading text--2xl font--bold">
    Fetured Projects
  </h2>
  <p class="section-main-fetured-projects__subtitle text--sm">
    A selection of my recent work and personal projects
  </p>
  <div class="section-main-fetured-projects__lists">
    <div class="section-main-fetured-projects__lists__project">
      <div
        class="section-main-fetured-projects__lists__project__img__container"
      >
        <img
          class="section-main-fetured-projects__lists__project__img"
          src="/placeholder.svg"
        />
      </div>
      <div class="section-main-fetured-projects__lists__project__container">
        <h3
          class="section-main-fetured-projects__lists__project__name text--xl font--bold"
        >
          Minimalist Portfolio
        </h3>
        <small class="section-main-fetured-projects__lists__project__decs">
          Minimalist Portfolio
        </small>
        <div class="section-main-fetured-projects__lists__project__tags">
          <small class="section-main-fetured-projects__lists__project__tag"
            >Astro</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Traditional CSS (BEM)</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Github Pages</small
          >
        </div>
        <div class="section-main-fetured-projects__lists__project__links">
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--detail text--sm"
            >View Detail</a
          >
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--external"
          >
            O
          </a>
        </div>
      </div>
    </div>
    <div class="section-main-fetured-projects__lists__project">
      <div
        class="section-main-fetured-projects__lists__project__img__container"
      >
        <img
          class="section-main-fetured-projects__lists__project__img"
          src="/placeholder.svg"
        />
      </div>
      <div class="section-main-fetured-projects__lists__project__container">
        <h3
          class="section-main-fetured-projects__lists__project__name text--xl font--bold"
        >
          Minimalist Portfolio
        </h3>
        <small class="section-main-fetured-projects__lists__project__decs">
          Minimalist Portfolio
        </small>
        <div class="section-main-fetured-projects__lists__project__tags">
          <small class="section-main-fetured-projects__lists__project__tag"
            >Astro</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Traditional CSS (BEM)</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Github Pages</small
          >
        </div>
        <div class="section-main-fetured-projects__lists__project__links">
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--detail text--sm"
            >View Detail</a
          >
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--external"
          >
            O
          </a>
        </div>
      </div>
    </div>
    <div class="section-main-fetured-projects__lists__project">
      <div
        class="section-main-fetured-projects__lists__project__img__container"
      >
        <img
          class="section-main-fetured-projects__lists__project__img"
          src="/placeholder.svg"
        />
      </div>
      <div class="section-main-fetured-projects__lists__project__container">
        <h3
          class="section-main-fetured-projects__lists__project__name text--xl font--bold"
        >
          Minimalist Portfolio
        </h3>
        <small class="section-main-fetured-projects__lists__project__decs">
          Minimalist Portfolio
        </small>
        <div class="section-main-fetured-projects__lists__project__tags">
          <small class="section-main-fetured-projects__lists__project__tag"
            >Astro</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Traditional CSS (BEM)</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Github Pages</small
          >
        </div>
        <div class="section-main-fetured-projects__lists__project__links">
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--detail text--sm"
            >View Detail</a
          >
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--external"
          >
            O
          </a>
        </div>
      </div>
    </div>
    <div class="section-main-fetured-projects__lists__project">
      <div
        class="section-main-fetured-projects__lists__project__img__container"
      >
        <img
          class="section-main-fetured-projects__lists__project__img"
          src="/placeholder.svg"
        />
      </div>
      <div class="section-main-fetured-projects__lists__project__container">
        <h3
          class="section-main-fetured-projects__lists__project__name text--xl font--bold"
        >
          Minimalist Portfolio
        </h3>
        <small class="section-main-fetured-projects__lists__project__decs">
          Minimalist Portfolio
        </small>
        <div class="section-main-fetured-projects__lists__project__tags">
          <small class="section-main-fetured-projects__lists__project__tag"
            >Astro</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Traditional CSS (BEM)</small
          >
          <small class="section-main-fetured-projects__lists__project__tag"
            >Github Pages</small
          >
        </div>
        <div class="section-main-fetured-projects__lists__project__links">
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--detail text--sm"
            >View Detail</a
          >
          <a
            class="section-main-fetured-projects__lists__project__links__link section-main-fetured-projects__lists__project__links__link--external"
          >
            O
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-main-fetured-projects__link-projects">
    <a
      class="section-main-fetured-projects__link-projects__link"
      href="/projects"
      role="button"
      aria-label="View All Projects"
      tabindex="0">View All Projects</a
    >
  </div>
</section>

<style>
  .section-main-fetured-projects {
    padding: 5rem 0;
  }
  .section-main-fetured-projects__heading {
  }
  .section-main-fetured-projects__subtitle {
    margin-top: 1rem;
    color: gray;
  }
  .section-main-fetured-projects__lists {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 3rem;
  }
  .section-main-fetured-projects__lists__project {
    display: flex;
    flex-direction: column;
    /* box-shadow: var(--box-shadow-1); */
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    width: 100%;
    min-height: 400px;
    overflow: hidden;
  }
  .section-main-fetured-projects__lists__project__img__container {
    flex: 0 0 250px;
    overflow: hidden;
  }
  .section-main-fetured-projects__lists__project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-main-fetured-projects__lists__project__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    height: 100%;
  }
  .section-main-fetured-projects__lists__project__name {
  }
  .section-main-fetured-projects__lists__project__decs {
    color: gray;
  }
  .section-main-fetured-projects__lists__project__tags {
    display: flex;
    position: relative;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
  }
  .section-main-fetured-projects__lists__project__tag {
    display: inline-flex;
    flex: 0 1 50px;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #f5f5f4;
    padding: 4px 5px;
    font-weight: light;
    font-size: 1rem;
    text-wrap: nowrap;
  }
  .section-main-fetured-projects__lists__project__links {
    display: flex;
    flex: 0 0 30px;
    justify-content: space-between;
    align-items: flex-end;
  }
  .section-main-fetured-projects__lists__project__links__link:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }
  .section-main-fetured-projects__lists__project__links__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    height: 100%;
  }
  .section-main-fetured-projects__lists__project__links__link--detail {
    padding: 1rem 2rem;
  }
  .section-main-fetured-projects__lists__project__links__link--external {
    border: none;
    aspect-ratio: 1/1;
    height: 100%;
  }

  .section-main-fetured-projects__link-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .section-main-fetured-projects__link-projects__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    padding: 1rem 2rem;
  }
  .section-main-fetured-projects__link-projects__link:hover {
    text-decoration: none;
  }
  /* Mobile phones (up to 639px) */
  @media screen and (max-width: 639px) {
    .section-main-fetured-projects__lists {
      grid-template-columns: 1fr;
    }
  }

  /* sm: 640px to 767px */
  @media screen and (min-width: 640px) and (max-width: 767px) {
    .section-main-fetured-projects__lists {
      grid-template-columns: 1fr;
    }
  }
  /* md: 768px to 1023px */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .section-main-fetured-projects__lists {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* lg: 1024px to 1279px */
  @media screen and (min-width: 1024px) {
    .section-main-fetured-projects__lists {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  html[color-scheme="dark"]
    .section-main-fetured-projects__lists__project__tag {
    border: none;
    background-color: var(--bgDefault);
    background-color: gray;
  }
  html[color-scheme="dark"]
    .section-main-fetured-projects__lists__project__links__link:hover,
  html[color-scheme="dark"]
    .section-main-fetured-projects__link-projects__link:hover {
    text-decoration: underline;
  }
</style>
